<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veritatis fugit cupiditate doloribus harum neque ex ab libero illo. Ipsa nam vitae eum alias fugit repellat? Expedita dolorem labore cum repudiandae eius obcaecati voluptates vitae officia, ad nisi possimus repellat.</p>
    </div>
</section>